body{
    background-color: #219EBC;
  }

  *{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #About{
    display: flex;
    justify-content: center;
    padding: 400px;
    color: whitesmoke;
    background-color: #8ECAE6;

  }

  #About>div>p{
    font-size: 25px;
  }
  
  #Skills{

    justify-content: center;
    color: white;
    background-color: #8ECAE6;
    
  }

  .NavBarContainer,  .btn{
     background-color: #023047;
     color: white;
  }
  
  
  .snowimg{
  image-resolution: 1080px;
  }
  
  .projectsRow,.NavBarContainer>div>a, .NavBarContainer>div>div>ul>li>a, .Aboutme, .Intro, .Projects, .Projects>h2, .card-body{
      color: white;
      font-style: normal;
   }
  
  .Intro, .Aboutme,.ConctactForm, .card-body{
      background-color: #8ECAE6;
  }
  
  .ConctactForm>div>form{
  background-color: #023047;
  padding:125px;
  border: solid;
  border-color: white;
  border-radius: 10px;
  }
  
  .EmptySpace{
      background-color: whitesmoke;
  }
  .toolUsed{
      width: 150px;
      height: 50px;
      background-color: #023047;
      color: white;
      border-style: solid;
      border-width: 2px;
      border-color: white;
      border-radius: 5px;
      padding: 15px;
      margin: 10px;
      box-sizing: border-box;
      display: inline-block;
      
  }

  .ProjectsRowFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .mt-6 {
    margin-top: 4rem; 
}
.mt-7 {
    margin-top: 5rem; 
}